<app-go-back-toolbar msj="Alta Mesa" />

<ion-content class="ion-padding">
  @if (isLoading) {
    <app-loading-spinner message="Procesando imagen..." textColor="#ffffff"></app-loading-spinner>
  }
  
  <div class="form-container">
    <ion-card>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="ion-text-center">
          <img src="../../../../assets/images/mesa-icon.png" style="height: 80px; margin: 20px 0;" alt="Mesa">
        </div>
        <ion-item>
          <ion-label position="floating">Número</ion-label>
          <ion-input formControlName="numero" type="number"></ion-input>
        </ion-item>
        @if (isValidField('numero')) {
          <div class="error-message">
            {{ getErrorByField("numero") }}
          </div>
        }

        <ion-item>
          <ion-label position="floating">Cantidad de Comensales</ion-label>
          <ion-input formControlName="cantidadComensales" type="number"></ion-input>
        </ion-item>
        @if (isValidField('cantidadComensales')) {
          <div class="error-message">
            {{ getErrorByField("cantidadComensales") }}
          </div>
        }

        <ion-item>
          <ion-label position="floating">Tipo</ion-label>
          <ion-select formControlName="tipo" interface="action-sheet">
            <ion-select-option value="estandar">Estándar</ion-select-option>
            <ion-select-option value="discapacitados">Discapacitados</ion-select-option>
            <ion-select-option value="vip">VIP</ion-select-option>
          </ion-select>
        </ion-item>
        @if (isValidField('tipo')) {
          <div class="error-message">
            {{ getErrorByField("tipo") }}
          </div>
        }

        <div class="photo-container">
          @if (rutaImagen) {
            <img [src]="rutaImagen" height="150">
          }
          <ion-button class="photo-button" (click)="takePhoto()">
            <ion-icon name="camera-outline"></ion-icon>
            Tomar foto
          </ion-button>
        </div>

        <ion-button 
          expand="block" 
          color="success" 
          type="submit" 
          [disabled]="myForm.invalid || !rutaImagen">
          Aceptar
        </ion-button>
        
        <ion-button 
          expand="block" 
          color="danger" 
          routerLink="/home">
          Cancelar
        </ion-button>
      </form>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="scan()">
        <img src="../../../../assets/icon/qr.png" alt="QR Scanner">
      </ion-fab-button>
    </ion-fab>
    
  </div>
</ion-content>