<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">La Comanda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (isLoading) {
    <app-loading-spinner message="Iniciando sesión..." textColor="#ffffff"/>
  }@else{
  <div class="login-container">
    <h2>Bienvenido</h2>
    <h3>Ingrese sus credenciales</h3>
    <br>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" placeholder="usuario@ejemplo.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="••••••••"></ion-input>
        <ion-button slot="end" fill="clear" (click)="showPassword = !showPassword">
          <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" type="submit" [disabled]="myForm.invalid">
        INGRESAR
      </ion-button>
    </form>

    <div class="auth-links">
      <br>
      <ion-button expand="block" fill="solid" class="auth-button"  color="secondary" routerLink="/registrarse-cliente">
        ¿NO TENÉS CUENTA? ¡REGISTRATE!
      </ion-button>
    </div>

    <!-- Botones de acceso rápido horizontales -->
    <ion-fab horizontal="center" vertical="bottom" slot="fixed">
      <ion-fab-button class="fab-button-divider" size="small" color="success" (click)="fastLogin('cliente@cliente.com', '444444')">
        CLI
      </ion-fab-button>
      <ion-fab-button class="fab-button-divider" size="small" color="primary" (click)="fastLogin('mozo@mozo.com', '666666')">
        MO
      </ion-fab-button>
      <ion-fab-button class="fab-button-divider" size="small" color="tertiary" (click)="fastLogin('maitre@maitre.com', '555555')">
        MA
      </ion-fab-button>
      <ion-fab-button class="fab-button-divider" size="small" color="medium" (click)="fastLogin('bartender@bartender.com', '888888')">
        B
      </ion-fab-button>
      <ion-fab-button class="fab-button-divider" size="small" color="light" (click)="fastLogin('cocinero@cocinero.com', '777777')">
        CO
      </ion-fab-button>
      <ion-fab-button class="fab-button-divider" size="small" color="secondary" (click)="fastLogin('supervisor@supervisor.com', '222222')">
        S
      </ion-fab-button>
      <ion-fab-button class="fab-button-divider" size="small" color="warning" (click)="fastLogin('duenio@duenio.com', '111111')">
        D
      </ion-fab-button>
    </ion-fab>

  </div>
}
</ion-content>