<ion-content class="full-screen">
    <div class="container">
        <div class="text top-text bounce-in-top">PPS - 4B</div>
        <img src="../../assets/icon/fmcLogo.png" alt="Logo" class="background-image">
        <div class="bottom-texts">
            <div class="text bottom-text1 bounce-in-top">Mauro Delle Chiaie</div>
            <div class="text bottom-text2 bounce-in-top">Francisco Allende</div>
            <div class="text bottom-text3 bounce-in-top">Franco Tobias Martínez</div>
        </div>
    </div>
</ion-content>