<app-go-back-toolbar msj="Alta de Producto" />

<ion-content class="ion-padding">
  @if (isLoading) {
    <app-loading-spinner message="Procesando imagen..." textColor="#ffffff"></app-loading-spinner>
  }

  <div class="form-container">
    <ion-card>
      <div class="ion-text-center">
        <img src="../../../../assets/images/product-icon.png" style="height: 80px; margin: 20px 0;" alt="Producto">
      </div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        @if (myForm.controls['nombre'].invalid && myForm.controls['nombre'].touched) {
          <div class="error-message">
            {{ getErrorByField("nombre") }}
          </div>
        }

        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input formControlName="descripcion"></ion-input>
        </ion-item>
        @if (myForm.controls['descripcion'].invalid && myForm.controls['descripcion'].touched) {
          <div class="error-message">
            {{ getErrorByField("descripcion") }}
          </div>
        }

        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input formControlName="precio" type="number"></ion-input>
        </ion-item>
        @if (isValidField('precio')) {
          <div class="error-message">
            {{ getErrorByField("precio") }}
          </div>
        }

        <ion-item>
          <ion-label position="floating">Tiempo (en minutos)</ion-label>
          <ion-input formControlName="tiempo" type="number"></ion-input>
        </ion-item>
        @if (isValidField('tiempo')) {
          <div class="error-message">
            {{ getErrorByField("tiempo") }}
          </div>
        }

        <ion-item>
          <ion-label position="floating">Categoría</ion-label>
          <ion-select formControlName="tipo" interface="action-sheet">
            <ion-select-option value="guarnicion">Guarnición</ion-select-option>
            <ion-select-option value="principal">Plato Principal</ion-select-option>
            <ion-select-option value="postre">Postre</ion-select-option>
            <ion-select-option value="bebida">Bebida</ion-select-option>
          </ion-select>
        </ion-item>
        @if (isValidField('tipo')) {
          <div class="error-message">
            {{ getErrorByField("tipo") }}
          </div>
        }

        <div class="photo-container">
          <ion-label>Fotos del Producto (máximo 3)</ion-label>
          <ion-button class="photo-button" (click)="takePhoto()">
            <ion-icon name="camera-outline"></ion-icon>
            Tomar foto
          </ion-button>
          
          <div class="photos-grid">
            @for (imagen of rutasImagen; track imagen) {
              <img [src]="imagen" class="product-image">
            }
          </div>
        </div>

        <ion-button 
          expand="block" 
          color="success" 
          type="submit" 
          [disabled]="myForm.invalid || !rutasImagen[0]">
          Aceptar
        </ion-button>
        
        <ion-button 
          expand="block" 
          color="danger" 
          routerLink="/home">
          Cancelar
        </ion-button>
      </form>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="scan()">
        <img src="../../../../assets/icon/qr.png" alt="QR Scanner">
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>