<app-go-back-toolbar msj="Formulario de Alta" />

<ion-content class="ion-padding">
  @if (isLoading) {
    <app-loading-spinner message="Procesando imagen..." textColor="#ffffff"></app-loading-spinner>
  }

  <div class="form-container">

    <div class="ion-text-center">
      <img src="../../../assets/images/user-icon.png" style="height: 80px; margin: 20px 0;" alt="">
    </div>

    <ion-card>
      <ion-item lines="none">
        <ion-label>¿Desea registrarse como Cliente Anónimo?</ion-label>
        <ion-toggle slot="end" [ngModel]="clienteAnonimo" (ionChange)="toggleAnonimo($event)"></ion-toggle>
      </ion-item>
    </ion-card>

    <ion-card>
      <form [formGroup]="form" (ngSubmit)="registrarse()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        @if (form.controls['nombre'].invalid && form.controls['nombre'].touched) {
          <div class="error-message">
            Nombre debe contener solo letras y espacios.
          </div>
        }

        @if (!clienteAnonimo) {
          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input formControlName="apellido"></ion-input>
          </ion-item>
          @if (form.controls['apellido'].invalid && form.controls['apellido'].touched) {
            <div class="error-message">
              Apellido debe contener solo letras y espacios.
            </div>
          }

          <ion-item>
            <ion-label position="floating">DNI</ion-label>
            <ion-input formControlName="dni"></ion-input>
          </ion-item>
          @if (form.controls['dni'].invalid && form.controls['dni'].touched) {
            <div class="error-message">
              DNI debe contener hasta 10 caracteres numéricos.
            </div>
          }

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          @if (form.controls['email'].invalid && form.controls['email'].touched) {
            <div class="error-message">
              Email no es válido.
            </div>
          }

          <ion-item>
            <ion-label position="floating">Clave</ion-label>
            <ion-input formControlName="clave" type="password"></ion-input>
          </ion-item>
          @if (form.controls['clave'].invalid && form.controls['clave'].touched) {
            <div class="error-message">
              Clave debe tener al menos 6 caracteres.
            </div>
          }

          <ion-item>
            <ion-label position="floating">Confirmar Clave</ion-label>
            <ion-input formControlName="confirmarClave" type="password"></ion-input>
          </ion-item>
          @if (form.hasError('passwordMismatch') && form.controls['confirmarClave'].touched) {
            <div class="error-message">
              Las claves no coinciden.
            </div>
          }
        }

        <div class="photo-container">
          <ion-label>Foto de Perfil</ion-label>
          @if (fotoUrl) {
            <img [src]="fotoUrl" height="150">
          }
          <ion-button class="photo-button" (click)="tomarFoto()">
            <ion-icon name="camera-outline"></ion-icon>
            Tomar foto
          </ion-button>
        </div>

        <ion-button 
          expand="block" 
          color="success" 
          type="submit" 
          [disabled]="form.invalid || !fotoUrl">
          Aceptar
        </ion-button>
        
        <ion-button 
          expand="block" 
          color="danger" 
          routerLink="/home">
          Cancelar
        </ion-button>
      </form>
    </ion-card>
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="scan()">
        <img src="../../../../assets/icon/qr.png" alt="QR Scanner">
      </ion-fab-button>
    </ion-fab>
  </div>

  @if (mostrarSpinner) {
    <app-loading-spinner message="Guardando datos..." textColor="#ffffff"></app-loading-spinner>
  }
</ion-content>