<app-go-back-toolbar msj="Lista de Espera" />

<ion-content>
  <div class="main-container">
    <ion-card class="status-card">
      <ion-card-header>
        <ion-card-title>Clientes en Espera</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        @if (arrayShow.length > 0) {
          <ion-list>
            @for (cliente of arrayShow; track cliente) {
              <ion-item>
                <ion-avatar slot="start">
                  <img [src]="cliente.urlFoto || '../../../assets/images/default-avatar.png'" alt="avatar">
                </ion-avatar>
                <ion-label>
                  <h2>{{ cliente.nombre }} {{ cliente.apellido }}</h2>
                  @if (cliente.anonimo) {
                    <p>Cliente Anónimo</p>
                  }
                </ion-label>
              </ion-item>
            }
          </ion-list>
        } @else {
          <div class="empty-state">
            <img src="../../../assets/images/check.png" alt="No hay clientes">
            <p>No hay clientes en lista de espera</p>
          </div>
        }
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>