@if (!isLoading) {
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="handleLogout()"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ getUserTypeTitle() }}</ion-title>
    </ion-toolbar>
  </ion-header>
}

<ion-content>
  @if (isLoading) {
    <app-loading-spinner message="Cargando usuario..."></app-loading-spinner>
  } @else {
    <!-- Cliente -->
    @if (currentUser?.type === 'cliente') {
      <h2>Bienvenido Cliente</h2>
      <div class="role-grid">
        <div class="role-button" (click)="scan()">
          <ion-icon name="qr-code-outline"></ion-icon>
          <span>Escanear QR Mesa</span>
        </div>

        <!-- <div class="role-button" (click)="navigateTo('/menu')">
          <ion-icon name="restaurant-outline"></ion-icon>
          <span>Ver Carta</span>
        </div>

        <div class="role-button" (click)="navigateTo('/reservas')">
          <ion-icon name="calendar-outline"></ion-icon>
          <span>Hacer Reserva</span>
        </div>

        <div class="role-button" (click)="navigateTo('/consultar-mozo')">
          <ion-icon name="chatbox-outline"></ion-icon>
          <span>Consultar Mozo</span>
        </div> -->
      </div>
    }

    <!-- Maître -->
    @if (currentUser?.type === 'maitre') {
      <h2>Panel de Maître</h2>
      <div class="role-grid">

        <!--
        <div class="role-button" (click)="navigateTo('/gestion-clientes')">
          <ion-icon name="restaurant-outline"></ion-icon>
          <span>Asignar Mesas</span>
        </div>
        -->

        <div class="role-button" (click)="scan()">
          <ion-icon name="qr-code-outline"></ion-icon>
          <span>Escanear QR</span>
        </div>

        <div class="role-button" (click)="navigateTo('/registrarse-cliente')">
          <ion-icon name="person-add-outline"></ion-icon>
          <span>Registrar Cliente</span>
        </div>

        <div class="role-button" (click)="navigateTo('/lista-espera')">
          <ion-icon name="time-outline"></ion-icon>
          <span>Lista Clientes en Espera</span>
        </div>
      </div>
    }

    <!-- Mozo -->
    @if (currentUser?.type === 'mozo') {
      <h2>Panel de Mozo</h2>
      <div class="role-grid">

        <div class="role-button" (click)="scan()">
          <ion-icon name="qr-code-outline"></ion-icon>
          <span>Escanear QR Mesa</span>
        </div>

        <div class="role-button" (click)="navigateTo('/consultar-mozo')">
          <ion-icon name="chatbox-outline"></ion-icon>
          <span>Chat con clientes</span>
        </div>

        <div class="role-button" (click)="navigateTo('/pedidos-por-confirmar-mozo')">
          <ion-icon name="restaurant-outline"></ion-icon>
          <span>Pedidos Pendientes</span>
        </div>
      </div>
    }

    <!-- Cocinero -->
    @if (currentUser?.type === 'cocinero') {
      <h2>Panel de Cocinero</h2>
      <div class="role-grid">
        <div class="role-button" (click)="navigateTo('/pedidos-cocina')">
          <ion-icon name="restaurant-outline"></ion-icon>
          <span>Pedidos Pendientes</span>
        </div>

        <div class="role-button" (click)="navigateTo('/alta-producto')">
          <ion-icon name="add-circle-outline"></ion-icon>
          <span>Alta de Producto</span>
        </div>

        <div class="role-button" (click)="navigateTo('/estadisticas')">
          <ion-icon name="bar-chart-outline"></ion-icon>
          <span>Ver Estadísticas</span>
        </div>
      </div>
    }

    <!-- Bartender -->
    @if (currentUser?.type === 'bartender') {
      <h2>Panel de Bartender</h2>
      <div class="role-grid">
        <div class="role-button" (click)="navigateTo('/pedidos-bar')">
          <ion-icon name="wine-outline"></ion-icon>
          <span>Pedidos Pendientes</span>
        </div>

        <div class="role-button" (click)="navigateTo('/alta-producto')">
          <ion-icon name="add-circle-outline"></ion-icon>
          <span>Alta de Bebida</span>
        </div>

        <div class="role-button" (click)="navigateTo('/estadisticas')">
          <ion-icon name="bar-chart-outline"></ion-icon>
          <span>Ver Estadísticas</span>
        </div>
      </div>
    }

    <!-- Supervisor/Dueño -->
    @if (currentUser?.type === 'supervisor' || currentUser?.type === 'dueño' || currentUser?.type === 'dueno') {
      <h2>Panel de {{ currentUser?.type }}</h2>
      <div class="role-grid">
        <div class="role-button" (click)="scan()">
          <ion-icon name="qr-code-outline"></ion-icon>
          <span>Escanear QR</span>
        </div>
        <!--
        <div class="role-button" (click)="navigateTo('/gestion-clientes')">
          <ion-icon name="people-outline"></ion-icon>
          <span>Gestión de Clientes</span>
        </div>
        -->

        <div class="role-button" (click)="navigateTo('/alta-mesa')">
          <ion-icon name="add-circle-outline"></ion-icon>
          <span>Alta Mesa</span>
        </div>

        <div class="role-button" (click)="navigateTo('/estadisticas')">
          <ion-icon name="bar-chart-outline"></ion-icon>
          <span>Ver Estadísticas</span>
        </div>
      </div>
    }
  }
</ion-content>